@font-face {
    font-family: 'CodecPro';
    src: url('codec-pro.regular.eot');
    /* IE9 Compat Modes */
    src: url('codec-pro.regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('codec-pro.regular.woff') format('woff'),
        /* Modern Browsers */
        url('codec-pro.regular.ttf') format('truetype')
        /* Safari, Android, iOS */
}

:root {
    --primary-color: #000e20;
    --secondary-color: #001b3e;
}

.container {
    display: flex;
    padding: 0px;
    min-width: 100%;
}

.leftPanel {
    margin-top: 10px;
    flex: 1;
    min-width: 240px;
    padding-right: 5px;
}

.bodyPanel {
    border-left: 1px solid #000;
    padding-left: 10px;
}

@media print {

    .no-print,
    .no-print * {
        display: none !important;
    }

    @page {
        /* size: auto;   auto is the initial value  */

        /* this affects the margin in the printer settings */
        margin: 0mm 0mm 0mm 0mm;
    }
}

.print {
    display: none;
}

* {
    font-family: 'CodecPro';
    font-size: 0.94rem;
}

body {
    background: #b1b1b1;
    color: var(--primary-color);
}

hr {
    margin: 7px;
}

a,
a:visited,
a:active a:hover {
    color: var(--primary-color);
}

.page {
    max-width: 1080px;
    background-color: #fff;
    text-align: left;
    border: 1px solid rgb(20, 20, 20);
    margin: 10px auto;
}

.sheet {
    margin: 0px 13px 0px 13px;
}

.header {
    text-align: center;
}

.titleName {
    font-size: 2rem !important;
    font-weight: bold;
    letter-spacing: 0.3rem;
    color: var(--secondary-color);
}

.titlePosition {
    font-size: 1.5rem !important;
    letter-spacing: 0.2rem;
    font-weight: bold;
}

.sectionHeader {
    font-weight: bold;
    text-align: left;
    font-size: 1.1rem !important;
    letter-spacing: 0.1rem;
    color: var(--secondary-color);
}

.areaDescription {
    margin-top: 10px;
    letter-spacing: 0.04rem;
    text-align: left;
}

.professionalSummaryDescription {
    text-align: justify;
}

.professionalSummary {
    border-bottom: 1px solid #000;
}

.professionalExperience {
    margin-top: 10px;
}

.job {
    text-align: left;
}

.jobTitle {
    display: flex;
    justify-content: space-between;
}

.titleContact {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
}

.educationDescription {
    text-align: left;
}

.certificationDetail {
    text-align: left;
}

ul {
    padding-left: 25px;
}

.qrCodes img {
    width: 75px;
    height: 75px;
}

.last-update {
    font-size: 0.6rem;
}