* {
    font-family: 'Roboto';
    
  }

body {
    background: #E9E9E9;
  }

  a, a:visited, a:active {
    color: #031e3e;
  }

.page {
    /* max-width: 1080px; */
    background-color: #fff;
    max-width: 980px;
    text-align: center;
    border: 1px solid rgb(20, 20, 20);
    margin: 10px auto;
}

.sheet {
    margin: 15px;
}

.header {
    text-align: center;
}

.titleName {
    font-size: 2rem;
}

.titlePosition {
    font-size: 1.5rem;
}

.sectionHeader {
    text-align: center;
    font-size: 1rem;
    overflow: hidden;
}

.professionalSummaryDescription {
    text-align: justify;
}

.job {
    text-align: left;
}

.jobTitle {
    text-align: left;
}

.jobDate {
    float: right;
}

.educationDescription {
    text-align: left;
}

.certificationDetail {
    text-align: left;
}